@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var portfolioPgID = 1082;
    var homePgID = 1081;
    var closeLink = Umbraco.Content(portfolioPgID).Url;
    var portfolioPg = Umbraco.Content(portfolioPgID);
    var bioPg = Umbraco.Content(1083);
    bool isPortfolioItem = CurrentPage.Parent != null && CurrentPage.Parent.Id == portfolioPgID;

    var portfolioIconUrl = portfolioPg.GetPropertyValue<IPublishedContent>("pageIcon").Url;
    var portfolioIcon = Html.Raw(System.IO.File.ReadAllText(Server.MapPath(portfolioIconUrl)));

    var bioIconUrl = bioPg.GetPropertyValue<IPublishedContent>("pageIcon").Url;
    var bioIcon = Html.Raw(System.IO.File.ReadAllText(Server.MapPath(bioIconUrl)));
}

<header>
    <div class="flexContainer noRespond">
        @if (isPortfolioItem)
        {
            <div class="logoWrp">
                <a class="logo" href="/">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/logo-solid.svg")))
                </a>
            </div>
            <a href="@closeLink" class="closeBtn">
                <span></span>
                <span></span>
            </a>
        }
        else
        {
            <div class="logoWrp">
                <a class="logo" href="/">
                    @if (CurrentPage.Id == homePgID)
                    {
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/logo-solid.svg")))
                    }
                    else
                    {
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/logo-warm.svg")))
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/logo-solid.svg")))
                    }
                </a>
            </div>
        }
    </div>
</header>

@if (!isPortfolioItem)
{
<div class="mobileNavContainer">
    <a class="mobileNavItem bioItem" href="@bioPg.Url">
        <div class="navItemIcon">
            @bioIcon
        </div>
        <span>CV and Bio</span>
    </a>
    <a class="mobileNavItem workItem" href="@portfolioPg.Url">
        <div class="navItemIcon">
            @portfolioIcon
        </div>
        <span>Portfolio</span>
    </a>
    <div id="navBtn" class="navBtn">
        <div class="blocksWrp">
            <div class="blockRow">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="blockRow">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="blockRow">
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
    </div>
</div>
}

<div class="topNavWrp" id="topNav">
    @{ Html.RenderPartial("topNavigation");}
</div>