@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var query = Request.QueryString.ToString().ToLower();
    var closeURL = query.Contains("home") ? "/#featured-work" : "/portfolio";

    var portfolioPgID = 1082;
    var bioPgID = 1083;
    var portfolioPg = Umbraco.Content(portfolioPgID);
    var bioPg = Umbraco.Content(bioPgID);
    bool isPortfolioItem = CurrentPage.Parent != null && CurrentPage.Parent.Id == portfolioPgID;

    var portfolioIconUrl = portfolioPg.GetPropertyValue<IPublishedContent>("pageIcon").Url;
    var portfolioIcon = Html.Raw(System.IO.File.ReadAllText(Server.MapPath(portfolioIconUrl)));

    var bioIconUrl = bioPg.GetPropertyValue<IPublishedContent>("pageIcon").Url;
    var bioIcon = Html.Raw(System.IO.File.ReadAllText(Server.MapPath(bioIconUrl)));
}

<header>
    <div class="flexContainer noRespond">
        <div class="logoWrp">
            <a class="logo" href="/">
                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/logo-circle.svg")))
            </a>
        </div>

        @if (isPortfolioItem)
        {
            <a href="@closeURL" class="closeBtn">
                <span></span>
                <span></span>
            </a>
        }
    </div>
</header>

@if (!isPortfolioItem)
{
    <div class="mobileNavContainer">
        <a class="mobileNavItem bioItem @(CurrentPage.Id == bioPgID ? "active" : null)" href="@bioPg.Url">
            <div class="navItemIcon">
                @bioIcon
            </div>
            <span>CV and Bio</span>
        </a>
        <a class="mobileNavItem workItem @(CurrentPage.Id == portfolioPgID ? "active" : null)" href="@portfolioPg.Url">
            <div class="navItemIcon">
                @portfolioIcon
            </div>
            <span>Portfolio</span>
        </a>
        <div id="navBtn" class="navBtn">
            <div class="blocksWrp">
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
            </div>
        </div>
    </div>
}

<div class="topNavWrp" id="topNav">
    @{ Html.RenderPartial("topNavigation");}
</div>