@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    //var portfolioItemTypes = umbraco.cms.businesslogic.datatype.PreValues.GetPreValues(Umbraco.Content(1082).portfolioItemType).Values;
    //var enumerator = portfolioItemTypes.GetEnumerator();
}

<nav class="leftNavWrp" id="leftNav">
    <ul>
        @if (CurrentPage.Id == 1081)
        {
            <li>
                <a href="#@(Umbraco.Field("portfolioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("portfolioHeading")</span></a>
            </li>
            <li>
                <a href="#@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("bioHeading")</span></a>
            </li>
        }
        else if (CurrentPage.Id == 1082)
        {
            <li>
                <div data-filter="all"><span>All</span></div>
            </li>
            @*@while (enumerator.MoveNext())
                {
                    var curVal = (PreValue)enumerator.Current;
                    <li>
                        <div data-filter="@(curVal.Value.ToString().ToLower().Replace(" ","-"))"><span>@curVal.Value</span></div>
                    </li>
                }*@
        }
        else if (CurrentPage.Id == 1083)
        {
            <li>
                <a href="#@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("bioHeading")</span></a>
            </li>
            <li>
                <a href="#@(Umbraco.Field("resumeHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("resumeHeading")</span></a>
            </li>
        }
        else if (CurrentPage.Parent.Id == 1082)
        {
            if (!string.IsNullOrWhiteSpace(Umbraco.Field("portfolioItemPurchaseLink").ToString()))
            {
                <li>
                    <a href="@Umbraco.Field("portfolioItemPurchaseLink")" target="_blank"><span>Purchase</span></a>
                </li>
            }

            <li>
                <div id="description"><span>Description</span></div>
            </li>
            <li>
                <div id="full-screen"><span>Full Screen</span></div>
            </li>
        }
    </ul>
</nav>
@*<script src="/Scripts/leftNav.js"></script>*@
<script src="/Build/scripts/sources/leftNav.js"></script>