@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var homePgID = 1081;
    var portfolioPgID = 1082;
    var bioPgID = 1083;
}

<nav class="leftNavWrp" id="leftNav">
    <ul>
        @if (CurrentPage.Id == homePgID)
        {
            <li>
                <a href="#@(Umbraco.Field("portfolioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("portfolioHeading")</span></a>
            </li>
            <li>
                <a href="#@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("bioHeading")</span></a>
            </li>
        }
        else if (CurrentPage.Id == portfolioPgID)
        {
            var portfolioItems = Umbraco.Content(portfolioPgID).Children.OrderBy("pubDate desc");
            var catsDropdown = ApplicationContext.Services.DataTypeService.GetDataTypeDefinitionByName("Portfolio Type Dropdown List");
            var cats = ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId(catsDropdown.Id).PreValuesAsDictionary.Select(x => x.Value).ToList();

            foreach (var item in cats)
            {
                var catHref = "#" + item.Value.ToLower().Replace(' ', '-');

                <li>
                    <a href="@catHref"><span>@item.Value</span></a>
                </li>
            }
        }
        else if (CurrentPage.Id == bioPgID)
        {
            <li>
                <a href="#@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("bioHeading")</span></a>
            </li>
            <li>
                <a href="#@(Umbraco.Field("resumeHeading").ToString().ToLower().Replace(" ", "-"))"><span>@Umbraco.Field("resumeHeading")</span></a>
            </li>
        }
        else if (CurrentPage.Parent.Id == portfolioPgID)
        {
            if (!string.IsNullOrWhiteSpace(Umbraco.Field("portfolioItemPurchaseLink").ToString()))
            {
                <li>
                    <a href="@Umbraco.Field("portfolioItemPurchaseLink")" target="_blank" rel="noreferrer noopener"><span>Purchase</span></a>
                </li>
            }

            <li>
                <div class="active" id="description"><span>Description</span></div>
            </li>
            <li>
                <div id="full-screen"><span>Full Screen</span></div>
            </li>
        }
    </ul>
</nav>