@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var homePgID = 1081;
    var portfolioPgID = 1082;

    var ieWarning = Umbraco.Content(homePgID).GetPropertyValue("ieWarning");
}

@if (CurrentPage.Parent != null && CurrentPage.Parent.Id == portfolioPgID)
{
    var imgs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages");
    var i = 0;

    if (imgs != null)
    {
        <div class="lightboxWrp" id="lightboxWrp">
            <div class="closeBtn" id="closeLightbox">
                <span></span>
                <span></span>
            </div>

            <div class="lightbox">
                <div class="lightboxSlider @(imgs.Count() > 1 ? "lightboxSlideshow" : null)" id="@(imgs.Count() > 1 ? "lightboxSlideshow" : null)">

                    @foreach (var img in imgs)
                    {
                        <img class="lightboxImg" id="@("img-" + i + "-full")" src="@img.Url" alt="@(Umbraco.Field("portfolioItemTitle") + " Image " + i)" />
                    }
                </div>

                @if (imgs.Count() > 1)
                {
                    <div class="sliderNav" id="lightboxSliderNav">
                        <!--slideshow arrows go here-->
                    </div>
                }
            </div>

            <div class="lightboxOverlay">
                @foreach (var img in imgs)
                {
                    <div class="lightboxBg" style="@("background:url('" + img.Url + "') no-repeat center center / cover")"></div>
                }
            </div>
        </div>

        if (imgs.Count() > 1)
        {
            <script src="/dist/js/imgSlideshow.js?v=1.0.2"></script>
        }
    }
}
else if (CurrentPage.Parent == null || CurrentPage.Parent.Id != portfolioPgID)
{
    <div class="lightboxWrp" id="lightboxWrp">
        <div class="closeBtn" id="closeLightbox">
            <span></span>
            <span></span>
        </div>

        <div class="lightbox">
            <div class="lightboxSlider">
                <img class="lightboxImg" id="lightboxImg" src="" />
                <a class="button prime" id="toItem">
                    <span>View More</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="lightboxOverlay">
            <div class="lightboxBg" id="lightboxBg"></div>
        </div>
    </div>

    <script src="/dist/js/lightbox.js?v=1.0.0"></script>
}

<div class="lightbox__wrapper lightbox__wrapper--content" id="ieLbWrp">
    <div class="lightbox lightbox--content" id="ieLb">
        <div class="lightbox__close lightbox__close--content closeBtn" id="closeIELb">
            <span></span>
            <span></span>
        </div>

        <div class="lightbox__inner lightbox__inner--center">
            @ieWarning
        </div>
    </div>

    <div class="lightbox__overlay" id="ieLbOverlay"></div>
</div>