@inherits Umbraco.Web.Mvc.UmbracoTemplatePage



@{
    var selection = CurrentPage.Site().Children.Where("Visible");
}

<nav>
    <ul>
        <li class="homeLink @(CurrentPage.Name.ToLower() == "home" ? "current" : null)">
            <a href="/"><span>Home</span></a>
        </li>
        @foreach (var item in selection)
        {
            if (!item.umbracoNaviHide)
            {
                <li class="@(item.Url == CurrentPage.Url ? "current" : null)">
                    @if (!string.IsNullOrWhiteSpace(item.forwardingPg.ToString()))
                    {
                        var newUrl = item.forwardingPg;

                        <a href="@newUrl" target="_blank" rel="nofollow noreferrer noopener"><span>@item.Name</span></a>
                    }
                    else
                    {
                        <a href="@item.Url"><span>@item.Name</span></a>
                    }
                </li>
            }
        }
    </ul>
</nav>

<div class="recentWorkContainer">
    <div class="smallSection-wrapper">
        <h2 class="flexLine"><span class="line"></span><span class="lineContent">Recent Work</span><span class="line"></span></h2>
        @{ Html.RenderPartial("recentWork");}
    </div>
</div>

<div class="iconContainer">
    @{ Html.RenderPartial("socialMediaIcons");}
</div>