@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
    var bioLink = Umbraco.Content(1083).Url;
    var portfolioLink = Umbraco.Content(1082).Url;
    var portfolioItems = Umbraco.Content(1082).Children.OrderBy("pubDate desc");
}

<section class="heroWrp" style="background-image:url('@(CurrentPage.heroBg.Url)');">
    <div class="heroContent">
        @Umbraco.Field("heading")
    </div>
</section>

<div class="leftBuffer">
    <section class="portfolioSection lightContentBg" id="@(Umbraco.Field("portfolioHeading").ToString().ToLower().Replace(" ", "-"))">
        <div class="portfolioGrid">
            @for (var i = 0; i < 5; i++)
            {
                var itemType = portfolioItems[i].portfolioItemType.ToString().ToLower().Replace(' ', '-');
                var imgCollection = portfolioItems[i].GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages");
                if (imgCollection != null)
                {
                    //var img = imgCollection.ToArray()[0];
                    var img = Umbraco.Media(imgCollection.ToArray()[0].Id);
                    var imgWidth = img.GetPropertyValue<decimal>("umbracoWidth");
                    var imgHeight = img.GetPropertyValue<decimal>("umbracoHeight");
                    var aspect = Decimal.Divide(imgWidth, imgHeight);
                    string itemClass = string.Empty;

                    ////define itemClass
                    if (aspect > 1.333M)
                    {
                        itemClass = "wide";
                    }
                    else if (aspect < 0.875M)
                    {
                        itemClass = "tall";
                    }

                    <div class="portfolioItem @itemType @itemClass" style="background-image:url('@(img.Url)');" data-width="@imgWidth" data-height="@imgHeight" data-aspect="@aspect">
                        <div class="iconRow">
                            <div class="icon description"></div>
                            <div class="icon full-screen"></div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="buttonWrp">
            <a href="@portfolioLink" class="button prime">
                <span>View Portfolio</span>
            </a>
        </div>
    </section>

    <section class="bioSection lightContentBg" id="@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))" style="background-image:url('@(CurrentPage.bioBg.Url)')">
        <div class="section-wrapper">
            <div class="contentWrp">
                <div class="contentBox">
                    @Umbraco.Field("bioContent")
                </div>
                <div class="buttonWrp">
                    <a href="@bioLink" class="button prime">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>