@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
    var bioLink = Umbraco.Content(1083).Url;
    var portfolioLink = Umbraco.Content(1082).Url;
    var portfolioItems = Umbraco.Content(1082).Children.OrderBy("createDate");
    var count = 0;
}

<section class="heroWrp" style="background-image:url('@(CurrentPage.heroBg.Url)');">
    <div class="heroContent content-wrapper">
        @Umbraco.Field("heading")
    </div>
</section>

<div class="leftBuffer">
    <section class="portfolioSection">
        <div class="portfolioGrid">
            @*@foreach (var item in portfolioItems)
            {
                if (count < 5)
                {
                    var img = item.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages").First();

                    <script>
                        console.log('@img.Url');
                    </script>
                }
                count++;
            }*@


            @for (var i = 0; i < 5; i++)
            {
                var img = portfolioItems[i].Content.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages").First();
                var data = portfolioItems[i].Id.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages");

                <script>
                    console.log('@img.Url');
                </script>


                //var img = Umbraco.Content(portfolioItems[i].Id).GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages").First();
                //var imgWidth = imgs[0].GetPropertyValue("umbracoWidth");
                //var imgHeight = imgs[0].GetPropertyValue("umbracoHeight");

                @*<div class="portfolioItem @(imgWidth > imgHeight ? "wide" : imgWidth / imgHeight > 0.875 ? "tall" : null)" style="background-image:url('@(imgs[0].Url)');">
                    <div class="iconRow">
                        <div class="icon description"></div>
                        <div class="icon full-screen"></div>
                    </div>
                </div>*@
            }
        </div>
        <div class="buttonWrp">
            <a href="@portfolioLink" class="button prime">
                <span>View Portfolio</span>
            </a>
        </div>
    </section>

    <section class="bioSection" style="background-image:url('@(CurrentPage.bioBg.Url)')">
        <div class="section-wrapper">
            <div class="contentWrp">
                <div class="contentBox">
                    @Umbraco.Field("bioContent")
                </div>
                <div class="buttonWrp">
                    <a href="@bioLink" class="button prime">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>