@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var bioLink = Umbraco.Content(1083).Url;
    var portfolioLink = Umbraco.Content(1082).Url;
    var scrollHref = "portfolio-section";
}

<section class="heroWrp">
    <div class="heroContent">
        @Umbraco.Field("heading")
    </div>

    <div class="heroBg" style="background-image:url('@(CurrentPage.heroBg.Url)');"></div>
    <div class="mobileHeroBg" style="background-image:url('@(CurrentPage.mobileHeroBg.Url)');"></div>

    <a class="scrollGraphicWrp" div="scrollIcon" href="@("#" + scrollHref)">
        <div class="scrollIconWrp">
            <div class="mouseIcon">
                <div class="scrollTrack">
                    <div class="scrollBall"></div>
                </div>
            </div>
        </div>
        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("/images/scroll-icon-bg.svg")))
    </a>
</section>

<section class="portfolioSection lightContentBg" id="@scrollHref">
    <h2 class="mobileHeading">@Umbraco.Field("portfolioHeading")</h2>
    @{ Html.RenderPartial("portfolioGrid");}
    <div class="buttonWrp">
        <a href="@portfolioLink" class="button prime">
            <span>View Portfolio</span>
        </a>
    </div>
</section>

<section class="bioSection contentSection lightContentBg" id="@(Umbraco.Field("bioHeading").ToString().ToLower().Replace(" ", "-"))" style="background-image:url('@(CurrentPage.bioBg.Url)')">
    <div class="section-wrapper">
        <h2 class="mobileHeading">@Umbraco.Field("bioHeading")</h2>
        <div class="mobilePhoto">
            <img src="@(CurrentPage.bioMobilePhoto.Url)" />
        </div>
        <div class="contentBox">
            @Umbraco.Field("bioContent")
        </div>
        <div class="buttonWrp">
            <a href="@(bioLink + "#resume")" class="button prime">
                <span>See R&eacute;sum&eacute;</span>
            </a>
        </div>
    </div>
</section>


<script src="/Scripts/homePg.js"></script>