@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PortfolioItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    ViewData["BodyClass"] = "portfolioItemPg";

    var imgs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages");
    int i = 0;
    var portfolioPgID = 1082;
    var portfolioItems = Umbraco.TypedContent(portfolioPgID).Children;
    var catsDropdown = ApplicationContext.Services.DataTypeService.GetDataTypeDefinitionByName("Portfolio Type Dropdown List");
    var cats = ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId(catsDropdown.Id).PreValuesAsDictionary.Select(x => x.Value).ToList();
    var thisCat = Model.Content.GetPropertyValue<string>("portfolioItemType");
    var thisSortNumber = Model.Content.GetPropertyValue<int>("sortNumber");
    var thisCatCollection = portfolioItems.Where(p => p.GetPropertyValue<string>("portfolioItemType") == thisCat).OrderBy(p => p.GetPropertyValue<int>("sortNumber")).ToList();
    var otherCatCollection = portfolioItems.Where(p => p.GetPropertyValue<string>("portfolioItemType") != thisCat).OrderBy(p => p.GetPropertyValue<int>("sortNumber")).ToList();
    bool isLastInCat = CurrentPage == thisCatCollection.Last();
    bool isLastItem = isLastInCat && thisCat == cats[cats.Count() - 1].ToString();
    var nextItem = isLastInCat ? otherCatCollection[0] : thisCatCollection[thisSortNumber];
}

<div class="itemShowcase">
    <section class="imgSection darkContentBg">
        @if (imgs != null)
        {
            <div class="imgSlider @(imgs.Count() > 1 ? "imgSlideshow" : null)" id="@(imgs.Count() > 1 ? "imgSlideshow" : null)">
                @foreach (var img in imgs)
                {
                    <div class="imgSlide">
                        <img id="@("img-" + i)" src="@img.Url" alt="@(Umbraco.Field("portfolioItemTitle") + " Image " + i)" />
                        <div class="iconCol">
                            <div class="full-screen openLightbox">
                                <i class="fas fa-expand"></i>
                            </div>
                        </div>
                    </div>

                    i++;
                }
            </div>
            if (imgs.Count() > 1)
            {
                <div class="sliderNav" id="sliderNav">
                    <!--slideshow arrows go here-->
                </div>
                <div class="sliderDots" id="sliderDots">
                    <!--slideshow dots go here-->
                </div>
            }

            i++;
            foreach (var img in imgs)
            {
                <div class="imgBg" style="background:url('@img.Url') no-repeat center center / cover"></div>
            }
        }
    </section>

    <section class="descSection lightContentBg">
        <div class="content-wrapper">
            <h1>@Umbraco.Field("portfolioItemTitle")</h1>
            @Umbraco.Field("portfolioItemDesc")
            <div class="buttonWrp align-left">
                @if (!string.IsNullOrWhiteSpace(Umbraco.Field("portfolioItemPurchaseLink").ToString()))
                {
                    <a href="@(Umbraco.Field("portfolioItemPurchaseLink"))" class="button prime" target="_blank" rel="noreferrer noopener"><span>Purchase</span></a>
                }
            </div>

            @if (!isLastItem)
            {
                <a class="portfolio__nextBlock" href="@nextItem.Url">
                    <span class="portfolio__nextBlockText">Next Item</span>
                </a>
            }
        </div>
    </section>
</div>