@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PortfolioItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var imgs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("portfolioItemImages");
    var i = 0;
}

<div class="leftBuffer">
    <div class="itemShowcase">
        <section class="imgSection darkContentBg">
            @if (imgs != null)
            {
                <div class="imgSlider">
                    @foreach (var img in imgs)
                    {
                        <div class="imgSlide">
                            <img id="@("img-" + i)" src="@img.Url" alt="@(Umbraco.Field("portfolioItemTitle") + " Image " + i)" />
                            <div class="iconCol">
                                <div class="share">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <div class="full-screen">
                                    <i class="fas fa-expand"></i>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                i++;
                foreach (var img in imgs)
                {
                    <div class="imgBg" style="background:url('@img.Url') no-repeat center center / cover"></div>
                }
            }
        </section>

        <section class="descSection lightContentBg">
            <div class="itemContent">
                <h1>@Umbraco.Field("portfolioItemTitle")</h1>
                @Umbraco.Field("portfolioItemDesc")
                <div class="buttonWrp">
                    <a href="" class="button secondary"><span>Share</span></a>
                    @if (!string.IsNullOrWhiteSpace(Umbraco.Field("portfolioItemPurchaseLink").ToString()))
                    {
                        <a href="@(Umbraco.Field("portfolioItemPurchaseLink"))" class="button prime" target="_blank" rel="noreferrer noopener"><span>Purchase</span></a>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

<div class="lightboxWrp">
    <div class="closeBtn" id="closeLightbox">
        <span></span>
        <span></span>
    </div>
    <div class="lightbox">
        @if (imgs != null)
        {
            foreach (var img in imgs)
            {
                <img class="lightboxImg" id="@("img-" + i + "-full")" src="@img.Url" alt="@(Umbraco.Field("portfolioItemTitle") + " Image " + i)" />
            }
        }
    </div>
    <div class="lightboxOverlay" style="@(imgs != null ? "background:url('" + imgs.First().Url + "') no-repeat center center / cover;" : null)"></div>
</div>